.container {
    color-scheme: light dark;
    background-color: var(--th-popup);
    position: fixed;
    z-index: 9999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 10px;
    margin: 0;
    border-radius: 5px;
    color: var(--th-popup-text);
    border: 1px solid var(--th-popup-border);
}
.container.transparent {
    background: rgb(from var(--th-popup) r g b / 0.83);
    backdrop-filter: blur(10px);
}


.searchBar {
    width: 85%;
    border-radius: 25px;
    border: 1px solid var(--th-toolbar-field-border);
    background-color: var(--th-toolbar-field);
    color: var(--th-toolbar-field-text);
    padding: 5px;
    height: 25px;
}
.searchBar:focus {
    outline: none;
    border: 1px solid var(--th-toolbar-field-border-focus);
    background-color: var(--th-toolbar-field-focus);
    color: var(--th-toolbar-field-text-focus)
}
.searchBar:focus-visible {
    border: 1px solid var(--th-toolbar-field-border-focus);
    background-color: var(--th-toolbar-field-focus);
    color: var(--th-toolbar-field-text-focus)
}

.info {
    font-size: 14px;
    margin: 5px;
    color: var(--th-popup-text)
}

.modeSelector {
    border: 1px solid var(--th-toolbar-field-border);
    background: rgb(from var(--th-popup) r g b / 0.83);
    border-radius: 5px;
    height: 30px;
    margin-bottom: 5px;
}

.modeSelector button {
    background-color: transparent;
    position: relative;
    height: 29px;
    margin: 0;
}
.modeSelector button::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 10%;
    right: 10%;
    height: 4px;
    border-radius: 4px 4px;
    background-color: var(--ejz-accent);
    transform: scaleX(0);
    transition: transform 0.1s ease;
}
.modeSelector button.active::after {
    transform: scaleX(1);
}
.modeSelector .navigation-hint {
    margin-left: 5px;
}