.container {
    background-color: var(--th-popup);
    position: fixed;
    z-index: 9999;
    box-shadow: 0px -9px 10px 0px rgba(0,0,0,0.22);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 10px;
    margin: 0;
    border-radius: 15px 15px 0 0;
    color: var(--th-popup-text);
}
@media (prefers-color-scheme: dark) {
    .container {
        border: 1px solid var(--th-popup-border);
    }
}


.searchBar {
    width: 85%;
    border-radius: 10px;
    border: 1px solid var(--th-toolbar-field-border);
    background-color: var(--th-toolbar-field);
    color: var(--th-toolbar-field-text);
    padding: 5px;
    height: 45px;
}
.searchBar:focus {
    outline: none;
    border: 1px solid var(--th-toolbar-field-border-focus);
    background-color: var(--th-toolbar-field-focus);
}
.searchBar:focus-visible {
    border: 1px solid var(--th-toolbar-field-border-focus);
    background-color: var(--th-toolbar-field-focus);
}

.info {
    font-size: 12px;
    margin: 5px;
    color: var(--th-popup-text)
}