body {
    width: 286px;
    background-color: var(--th-popup);
    color: var(--th-popup-text);
}

a {
    font-size: 12px;
    color: var(--ejz-accent);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: var(--ejz-accent-hover);
}
a:active {
    color: var(--ejz-accent-active);
}

footer {
    margin-top: 10px;
    text-align: center;
    color: var(--th-popup-text);
    margin-bottom: 7px;
}

label {
    font-size: 15px;
    font-weight: 600;
}

.status {
}
.status p {
    font-size: 15px;
    text-align: center;
}

.highlightSection {
    padding: 15px 10px;
    border-radius: 5px;
    margin: 5px;
}
.highlightSection.enabled {
    background-color: color-mix(in srgb, var(--ejz-accent) 10%, transparent 90%);
}
.highlightSection.disabled {
   /* background-color: color-mix(in srgb, var(--ejz-surface) 95%, light-dark(black, white) 5%);*/
    background-color: light-dark(#0000000F, #FFFFFF0F);
}
.highlightSection.center { text-align: center; }
.highlightSection.outlined {
    border: 1px solid var(--th-popup-border);
}

.siteControlSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.siteControlButton {
/*    width: -moz-available;
    width: -webkit-fill-available;*/
    text-align: center;
}