body {
    width: 286px;
    background-color: var(--th-popup);
}

a {
    font-size: 12px;
    color: var(--fx-primary);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: var(--fx-primary-hover);
}
a:active {
    color: var(--fx-primary-active);
}

footer {
    margin-top: 10px;
    text-align: center;
    color: var(--th-popup-text);
    margin-bottom: 7px;
}

.status {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    margin-top: 10px;
    margin-bottom: 10px;
}