body {
    width: 286px;
}

a {
    font-size: 12px;
}

footer {
    margin-top: 10px;
    text-align: center;
}

.status {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    margin-top: 10px;
    margin-bottom: 10px;
}