/* TODO: add emojeezer identifier */
.emoji-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 25px;
    padding: 7px;
    border-radius: 5px;
    width: 260px;
    cursor: pointer;
}

.emoji-card:hover, .emoji-card-square:hover {
    background-color: #c9c9c9;
}

.emoji-card:focus, .emoji-card-square:focus {
    background-color: #d9d9d9;
    box-shadow: 0px 0px 0px 8px #000000
}

.emoji-card_focus {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
    border-radius: 5px;
    width: 260px;
    background-color: #ededed;
    box-shadow: 0px 0px 0px 1px #636363;
    cursor: pointer;
}

.emoji-card_left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 85%;
}

.emoji-card_right {
    padding: 6px;
    border-radius: 5px;
}

.emoji-card-square {
    height: 45px;
    width: 45px;
    min-width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
}

.emoji-card-square_focus {
    height: 45px;
    width: 45px;
    min-width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;

    background-color: #ededed;
    box-shadow: 0px 0px 0px 1px #636363;
    border-radius: 5px;
}

.emoji-card-square_focus .emoji-card_right, .emoji-card-square .emoji-card_right {
    position: absolute;
    right: -3px;
    bottom: -3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.emoji-card p, .emoji-card_focus p {
    font-weight: 600;
    padding: 0 4px;
    margin: 0px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}
.emoji-card-square p, .emoji-card-square_focus p {
    font-weight: 600;
    margin: auto;
    font-size: 1.2em;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}

.emoji-tooltip {
    position: absolute;
    z-index: 1001;
    background-color: rgba(0, 27, 45, 0.94);
    box-shadow: 0px 0px 31px 0px rgba(0, 12, 17, 0.94);
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    font-family: monospace;
    font-size: 1em;
}

.shortcode {
    font-size: small;
    font-family: "JetBrains Mono", monospace;
    color: #818181;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}