.emoji-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 30px;
    padding: 2px;
    margin: 2px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    color: var(--th-popup-text);
}

.emoji-card:hover, .emoji-card.square:hover {
    background-color: color-mix(in hsl shorter hue, var(--th-popup) 90%, light-dark(black, white) 10%);
}

.emoji-card.focus {
    background-color: var(--th-popup-highlight);
    color: var(--th-popup-highlight-text);
    box-shadow: 0px 0px 0px 1px var(--th-popup-border) inset;
    height: 45px;
}

.emoji-card .left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 30px;
    height: 100%;
}

.emoji-card .middle {
    flex: 1 1 auto;
    overflow: hidden;
}

.emojiDisplay {
    font-size: 1.3em;
}

.emoji-card .right {
    padding: 6px;
    border-radius: 5px;
}

.emoji-card.square {
    height: 45px;
    width: 45px;
    min-width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
}

.emoji-card.square.focus {
    border-radius: 5px;
}

.emoji-card.square.focus .right, .emoji-card.square .right {
    position: absolute;
    right: -3px;
    bottom: -3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.emoji-card p {
    font-weight: 600;
    padding: 0 4px;
    margin: 0px;

    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}
.emoji-card.square p{
    font-weight: 600;
    margin: auto;
    font-size: 1.2em;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}

.emoji-tooltip {
    position: absolute;
    z-index: 1001;
    background-color: rgba(0, 27, 45, 0.94);
    box-shadow: 0px 0px 31px 0px rgba(0, 12, 17, 0.94);
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    font-family: monospace;
    font-size: 1em;
}

.shortcode {
    font-size: small;
    font-family: "JetBrains Mono", monospace;
    color: color-mix(in srgb, var(--th-popup-text) 70%, #FFF0 30%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}