.emoji-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 7px;
    margin-bottom: 4px;
    border-radius: 5px;
    min-width: 100%;
    cursor: pointer;
}

.lineTop {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.emoji-card:hover {
    background-color: #c9c9c9;
}

.emoji-card:focus {
    background-color: #d9d9d9;
    box-shadow: 0px 0px 0px 8px #000000
}

.emoji-card_focus {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 7px;
    margin-bottom: 4px;
    border-radius: 5px;
    min-width: 100%;
    background-color: #ededed;
    box-shadow: 0px 0px 0px 1px #636363;
    cursor: pointer;
}

.emoji-card__p {
    padding: 0 4px;
    margin: 0px;
}

.emoji-tooltip {
    position: absolute;
    z-index: 1001;
    background-color: rgba(0, 27, 45, 0.94);
    box-shadow: 0px 0px 31px 0px rgba(0, 12, 17, 0.94);
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    font-family: monospace;
    font-size: 1em;
}