.popup {
    z-index: 1000;
    background: var(--th-popup);
    color: var(--th-popup-text);
    border-radius: 5px;
    padding: 6px 15px;
    margin-top: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition-property: box-shadow;
    transition-duration: 0.5s;
}

.emoji-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.searchText {
    font-size: x-small;
}