.siteBlacklistItem {
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid #ccc;
}

a {
    color: #204895;
    text-decoration: none;
}

.emojiUsageDetails {
    position: absolute;
    z-index: 1001;
    background-color: rgba(0, 27, 45, 0.94);
    box-shadow: 0px 0px 31px 0px rgba(0, 12, 17, 0.94);
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    font-family: monospace;
    font-size: 1em;
}