body {
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
}

button {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 600;
}

button:hover {
    background-color: #f0f0f0;
}

button:focus {
    background-color: #e0e0e0;
}

.outlined {
    border: 1px solid #ccc;
}